@tailwind base;
@tailwind components;
@tailwind utilities;

.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.unstyled-list {
  list-style-type: none;
  font-size: 1.75rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.no-link {
  text-decoration: none !important;
  color: unset !important;
}

.custom-input {
  background-color: #616161;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.custom-input::placeholder {
  color: #fafafa;
}

.pointer {
  cursor: pointer;
}