@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  height: calc(100vh - 4rem - 3.5rem);
  z-index: 200;
}

.nav-items::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  top: 3px;
  border-radius: 15px;
  background-color: black;
  transform: scale(0, 1);
  transform-origin: left;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.nav-items:hover::after {
  transform: scale(1);
  opacity: 1;
}

